.header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 5em 0;
}

.h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1.5;
}

.contentBlocks {
    padding: 3em 0;
    background: #f3f3f7;
}